bin
node_modules
.thumb.png
app.db
tilemill/cache
tilemill/project/control-room
tilemill/project/geography-class
tilemill/project/open-streets-dc
tilemill/project/road-trip
tilemill/project/perfect-world-map/layers
*.swp
data
mapnik-gen/reproj.tif
mapnik-gen/demo.png
mapnik-gen/map.xml
mapnik-gen/test.xml

packages
.vs
obj
